# Environnement virtuel Python
venv/
venvpfe/
.venv/
env/
ENV/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so

# Fichiers logs & temporaires
*.log
*.tmp
*.bak

# Jupyter & notebooks
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers VS Code
.vscode/

# Clés sensibles
*.key
