# Data
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.38
pycoingecko==3.1.0

# Visualization
plotly==5.22.0
streamlit==1.35.0

# TA indicators
ta==0.10.2

# Transformers pour analyse de sentiment
transformers==4.40.1
torch==2.2.2

# Cryptographie sécurisée
cryptography==41.0.3

# API REST Binance
aiohttp==3.8.6
requests==2.31.0  # éviter 2.32.4 (encore instable pour certains wrappers)

# Compatibilité Streamlit
packaging==24.0
tenacity==8.2.3

scipy